# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
.eggs/
python-env/
venv/
ENV/
.vite/
node_modules/
.venv/

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Environments
.env
.env.*

# Pytest
.pytest_cache/
coverage.xml

# Installer
pip-log.txt
pip-delete-this-directory.txt
